<% @media.each do |medium| %>
  <%= image_tag medium.low_resolution %>
  <h4> <%= medium.tag.category.to_s.capitalize %>:  <%= medium.tag.name %> </h4>
  <h5> Price: $<%= medium.tag.price %> </h5>
<% end %>
